# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
venv/

# Java
target/
*.class

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Firebase / API
firebase.json
api.js

serviceAccountKey.json