-- api/database/schema.sql
-- Clean schema — no users_old, no ghost tables, no triggers.
-- All tables use CREATE TABLE IF NOT EXISTS so this is safe to re-run.
-- Migrations (migrate.js) handle ALTER TABLE for existing databases.

CREATE TABLE IF NOT EXISTS users (
    id            INTEGER PRIMARY KEY AUTOINCREMENT,
    email         TEXT UNIQUE NOT NULL,
    password_hash TEXT,
    full_name     TEXT,
    account_type  TEXT DEFAULT 'personal',
    role          TEXT DEFAULT 'member',
    firebase_uid  TEXT UNIQUE,
    avatar_url    TEXT,
    company_id    INTEGER,
    org_id        INTEGER,
    is_active     INTEGER DEFAULT 1,
    join_status   TEXT DEFAULT 'active',
    created_at    DATETIME DEFAULT CURRENT_TIMESTAMP,
    last_seen     DATETIME,
    updated_at    DATETIME
);

CREATE TABLE IF NOT EXISTS companies (
    id          INTEGER PRIMARY KEY AUTOINCREMENT,
    name        TEXT NOT NULL,
    owner_id    INTEGER,
    invite_code TEXT UNIQUE,
    industry    TEXT,
    size        TEXT,
    description TEXT,
    website     TEXT,
    logo_url    TEXT,
    created_at  DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at  DATETIME
);

CREATE TABLE IF NOT EXISTS tasks (
    id          INTEGER PRIMARY KEY AUTOINCREMENT,
    title       TEXT NOT NULL,
    description TEXT,
    status      TEXT DEFAULT 'pending',
    priority    TEXT DEFAULT 'medium',
    created_by  INTEGER,
    assignee_id INTEGER,
    company_id  INTEGER,
    org_id      INTEGER,
    deadline    DATETIME,
    flagged     INTEGER DEFAULT 0,
    flag_reason TEXT,
    visibility  TEXT DEFAULT 'personal',
    created_at  DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at  DATETIME
);

CREATE TABLE IF NOT EXISTS company_members (
    id         INTEGER PRIMARY KEY AUTOINCREMENT,
    company_id INTEGER NOT NULL,
    user_id    INTEGER NOT NULL,
    role       TEXT DEFAULT 'member',
    status     TEXT DEFAULT 'active',
    joined_at  DATETIME DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(company_id, user_id)
);

CREATE TABLE IF NOT EXISTS join_requests (
    id         INTEGER PRIMARY KEY AUTOINCREMENT,
    company_id INTEGER NOT NULL,
    user_id    INTEGER NOT NULL,
    status     TEXT DEFAULT 'pending',
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(company_id, user_id)
);

CREATE TABLE IF NOT EXISTS invitations (
    id          INTEGER PRIMARY KEY AUTOINCREMENT,
    company_id  INTEGER NOT NULL,
    email       TEXT NOT NULL,
    invited_by  INTEGER,
    invite_code TEXT UNIQUE,
    status      TEXT DEFAULT 'pending',
    created_at  DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS task_reports (
    id           INTEGER PRIMARY KEY AUTOINCREMENT,
    task_id      INTEGER NOT NULL,
    submitted_by INTEGER NOT NULL,
    company_id   INTEGER,
    report_text  TEXT,
    status       TEXT DEFAULT 'submitted',
    created_at   DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS profile_data (
    firebase_uid TEXT PRIMARY KEY,
    full_name    TEXT,
    avatar_url   TEXT,
    updated_at   DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- Indexes (all idempotent)
CREATE INDEX IF NOT EXISTS idx_users_firebase_uid ON users(firebase_uid);
CREATE INDEX IF NOT EXISTS idx_users_email        ON users(email);
CREATE INDEX IF NOT EXISTS idx_tasks_created_by   ON tasks(created_by);
CREATE INDEX IF NOT EXISTS idx_tasks_company_id   ON tasks(company_id);
CREATE INDEX IF NOT EXISTS idx_tasks_assignee_id  ON tasks(assignee_id);
CREATE INDEX IF NOT EXISTS idx_company_members_c  ON company_members(company_id);
CREATE INDEX IF NOT EXISTS idx_company_members_u  ON company_members(user_id);
CREATE INDEX IF NOT EXISTS idx_companies_invite   ON companies(invite_code);